.a_post{
    border: 1px solid;
    margin: 2rem;
    max-width: 12rem;
}
.a_post > .job_title{
    font-weight: bold;
}
.a_post > .job_title:hover{
    text-decoration: underline;
}

.ApplyButton{
    margin-left: 15rem;
    margin-top: 0rem;
}

/* a job */
.a_job{
    margin: 2rem;
    padding: 2rem;
}